.blue {
  border-radius: 0px 0px 32px 32px;
  background: var(
    --Gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  padding: 2.4rem 5.7rem 4rem 5.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  background: var(
    --Gradient-2,
    linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(63, 33, 201, 0.64) 35.88%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    )
  );

  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2.4rem;
}
.result-span {
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.4rem;
}
.overall {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
}
.hundred {
  color: var(--Light-Blue, #cac9ff);
  font-feature-settings: "clig" off, "liga" off;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: center;
}
.great {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.8rem;
}
.perfomance {
  color: var(--Light-Blue, #cac9ff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Hanken Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (min-width: 90rem) {
  .blue {
    padding: 3.8rem 5.4rem 5.5rem 5.4rem;
    border-radius: 32px;
  }
  .result-span {
    color: var(--Light-Blue, #cac9ff);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Hanken Grotesk";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin-bottom: 3.5rem;
  }
  .circle {
    width: 20rem;
    height: 20rem;
    margin-bottom: 2.8rem;
  }
  .overall {
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px; /* 100% */
  }
  .hundred {
    color: var(--Light-Blue, #cac9ff);
    font-feature-settings: "clig" off, "liga" off;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .great {
    color: var(--White, #fff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 1.4rem;
  }
  .perfomance {
    color: var(--Light-Blue, #cac9ff);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 25ch;
  }
}
